In [1]:
import time
import datetime
import pandas as pd
import numpy as np
import datetime
import warnings
warnings.filterwarnings("ignore")
from matplotlib import pyplot
# Loading datasets
data = pd.read_csv("./Data/Ozone.csv", na_values = "NaN",  parse_dates=['Date'], date_parser = pd.to_datetime )

In [2]:
# Replacing -1 values (which is missing values) to NaN
data.replace(-1, 'NaN', inplace=True)
data = data[(data != "NaN")]

In [3]:
#Dataset Data Types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6612 entries, 0 to 6611
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Date                                  6612 non-null   datetime64[ns]
 1   Source                                6612 non-null   object
 2   Site ID                               6612 non-null   int64
 3   POC                                   6612 non-null   int64
 4   Daily Max 8-hour Ozone Concentration  6612 non-null   float64
 5   UNITS                                 6612 non-null   object
 6   DAILY_AQI_VALUE                       6612 non-null   int64
 7   Site Name                             6612 non-null   object
 8   DAILY_OBS_COUNT                       6612 non-null   int64
 9   PERCENT_COMPLETE                      6612 non-null   float64
 10  AQS_PARAMETER_CODE                    6612 non-null   int64
 11  AQS_PARAMETER_DESC                    6612 non-null   object
 12  CBSA_CODE                             6612 non-null   int64
 13  CBSA_NAME                             6612 non-null   object
 14  STATE_CODE                            6612 non-null   int64
 15  STATE                                 6612 non-null   object
 16  COUNTY_CODE                           6612 non-null   int64
 17  COUNTY                                6612 non-null   object
 18  SITE_LATITUDE                         6612 non-null   float64
 19  SITE_LONGITUDE                        6612 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(8), object(7)
memory usage: 1.0+ MB

In [4]:
#Statistical data Description
data.describe()

,Site ID,POC,Daily Max 8-hour Ozone Concentration,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,CBSA_CODE,STATE_CODE,COUNTY_CODE,SITE_LATITUDE,SITE_LONGITUDE
count,6.612000e+03,6612.000000,6612.000000,6612.000000,6612.000000,6612.000000,6612.0,6612.0,6612.000000,6612.000000,6612.000000,6612.000000
mean,2.023647e+08,1.085451,0.038031,37.646854,16.969601,99.817604,44201.0,16980.0,20.166515,69.797338,41.891853,-87.761711
std,1.011966e+08,0.279572,0.014263,20.005809,0.297951,1.787705,0.0,0.0,10.121958,46.197351,0.339755,0.325880
min,1.703100e+08,1.000000,0.003000,3.000000,13.000000,76.000000,44201.0,16980.0,17.000000,31.000000,41.221537,-88.273029
25%,1.703131e+08,1.000000,0.027000,25.000000,17.000000,100.000000,44201.0,16980.0,17.000000,31.000000,41.639306,-87.990570
50%,1.708900e+08,1.000000,0.037000,34.000000,17.000000,100.000000,44201.0,16980.0,17.000000,59.000000,41.855243,-87.799227
75%,1.808900e+08,1.000000,0.047000,44.000000,17.000000,100.000000,44201.0,16980.0,18.000000,97.000000,42.062053,-87.675254
max,5.505900e+08,2.000000,0.096000,177.000000,17.000000,100.000000,44201.0,16980.0,55.000000,197.000000,42.595800,-87.036236

In [5]:
#Describing Percentage for each column Total Missing Values in the Datasets
data.isnull().sum() * 100 / len(data)

Date                                    0.0
Source                                  0.0
Site ID                                 0.0
POC                                     0.0
Daily Max 8-hour Ozone Concentration    0.0
UNITS                                   0.0
DAILY_AQI_VALUE                         0.0
Site Name                               0.0
DAILY_OBS_COUNT                         0.0
PERCENT_COMPLETE                        0.0
AQS_PARAMETER_CODE                      0.0
AQS_PARAMETER_DESC                      0.0
CBSA_CODE                               0.0
CBSA_NAME                               0.0
STATE_CODE                              0.0
STATE                                   0.0
COUNTY_CODE                             0.0
COUNTY                                  0.0
SITE_LATITUDE                           0.0
SITE_LONGITUDE                          0.0
dtype: float64

In [6]:
# Dataset shape with NaN Values
data.shape

(6612, 20)

In [7]:
# NaN Values Drop and Clean Dataset 
data = data.dropna()

In [8]:
# After removing NaN Values the Dateset shape
data.shape

(6612, 20)

In [9]:
#Extraction in the new column Year, Month, Day, Time from Date
data['Year'] = data.Date.dt.year.astype('int64')
data['Month'] = data.Date.dt.month.astype('int64')
data['Week'] = data.Date.dt.week.astype('int64')
data['Day'] = data.Date.dt.day.astype('int64')
# create a list of our conditions
conditions = [
    (data['DAILY_AQI_VALUE'] <= 50),
    (data['DAILY_AQI_VALUE'] > 50) & (data['DAILY_AQI_VALUE'] <= 100),
    (data['DAILY_AQI_VALUE'] > 100) & (data['DAILY_AQI_VALUE'] <= 150),
    (data['DAILY_AQI_VALUE'] > 151)
    ]

# create a list of the values we want to assign for each condition
values = ['1', '2', '3', '4']

# create a new column and use np.select to assign values to it using our lists as arguments
data['Level'] = np.select(conditions, values)

In [10]:
#Dataset
data

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,...,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE,Year,Month,Week,Day,Level
0,2018-01-01,AQS,170310001,1,0.029,ppm,27,VILLAGE GARAGE,17,100.0,...,Illinois,31,Cook,41.670992,-87.732457,2018,1,1,1,1
1,2018-01-02,AQS,170310001,1,0.025,ppm,23,VILLAGE GARAGE,17,100.0,...,Illinois,31,Cook,41.670992,-87.732457,2018,1,1,2,1
2,2018-01-03,AQS,170310001,1,0.024,ppm,22,VILLAGE GARAGE,17,100.0,...,Illinois,31,Cook,41.670992,-87.732457,2018,1,1,3,1
3,2018-01-04,AQS,170310001,1,0.026,ppm,24,VILLAGE GARAGE,17,100.0,...,Illinois,31,Cook,41.670992,-87.732457,2018,1,1,4,1
4,2018-01-05,AQS,170310001,1,0.027,ppm,25,VILLAGE GARAGE,17,100.0,...,Illinois,31,Cook,41.670992,-87.732457,2018,1,1,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6607,2018-10-31,AQS,550590025,1,0.029,ppm,27,KENOSHA - WATER TOWER,17,100.0,...,Wisconsin,59,Kenosha,42.595800,-87.885800,2018,10,44,31,1
6608,2018-11-01,AQS,550590025,1,0.027,ppm,25,KENOSHA - WATER TOWER,17,100.0,...,Wisconsin,59,Kenosha,42.595800,-87.885800,2018,11,44,1,1
6609,2018-11-02,AQS,550590025,1,0.023,ppm,21,KENOSHA - WATER TOWER,17,100.0,...,Wisconsin,59,Kenosha,42.595800,-87.885800,2018,11,44,2,1
6610,2018-11-03,AQS,550590025,1,0.032,ppm,30,KENOSHA - WATER TOWER,17,100.0,...,Wisconsin,59,Kenosha,42.595800,-87.885800,2018,11,44,3,1
6611,2018-11-04,AQS,550590025,1,0.029,ppm,27,KENOSHA - WATER TOWER,17,100.0,...,Wisconsin,59,Kenosha,42.595800,-87.885800,2018,11,44,4,1

In [12]:
# Spliting dataset for training data and for testing data
from sklearn.model_selection import train_test_split
# Classifier Algorithm libraries loading

from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Features
f = data[['SITE_LATITUDE','SITE_LONGITUDE','COUNTY_CODE','Month','Week','Day']]
# Lables
l = data['Level']
# Spliting 30% data for test and 70% data fro Training
x_train, x_test, y_train, y_test = train_test_split(f, l, test_size=0.3,random_state=42)
# Evaluate Algorithms on default parameters
models = []
models.append(('(Multi-layer Perceptron)', MLPClassifier()))
models.append(('(K-nearest Neighbors)', KNeighborsClassifier()))
models.append(('(Naive Bayes)', GaussianNB()))
models.append(('(Logistic Regression)', LogisticRegression()))

for name, model in models:
    print("Model: ",name)
    # Execution time is calculating for each model accuracy
    start = time.time()
    # model fit for traning and prediction
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    # Accuracy Score
    print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
    stop = time.time()
    print("Execution Time: ",stop-start)
    print("\n")
    print('F1:', metrics.f1_score(y_test, y_pred,average='micro'))
    print('Precision:', metrics.precision_score(y_test, y_pred,average='micro'))
    print('Recall:', metrics.recall_score(y_test, y_pred,average='micro'))
    print("\n")
    print("\n#######################################\n")

Model:  (Multi-layer Perceptron)
Accuracy: 0.8724798387096774
Execution Time:  2.442218065261841


F1: 0.8724798387096774
Precision: 0.8724798387096774
Recall: 0.8724798387096774



#######################################

Model:  (K-nearest Neighbors)
Accuracy: 0.9092741935483871
Execution Time:  0.12895631790161133


F1: 0.9092741935483871
Precision: 0.9092741935483871
Recall: 0.9092741935483871



#######################################

Model:  (Naive Bayes)
Accuracy: 0.860383064516129
Execution Time:  0.015016555786132812


F1: 0.860383064516129
Precision: 0.860383064516129
Recall: 0.860383064516129



#######################################

Model:  (Logistic Regression)
Accuracy: 0.8724798387096774
Execution Time:  0.3089008331298828


F1: 0.8724798387096774
Precision: 0.8724798387096774
Recall: 0.8724798387096774



#######################################