In [12]:
import time
import datetime
import pandas as pd
import numpy as np
import datetime
import warnings
warnings.filterwarnings("ignore")
from matplotlib import pyplot
# Loading datasets
data = pd.read_csv("./Data/SO2.csv", na_values = "NaN",  parse_dates=['Date'], date_parser = pd.to_datetime )

In [13]:
# Replacing -1 values (which is missing values) to NaN
data.replace(-1, 'NaN', inplace=True)
data = data[(data != "NaN")]

In [14]:
#Dataset Data Types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2479 entries, 0 to 2478
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Date                                2479 non-null   datetime64[ns]
 1   Source                              2479 non-null   object
 2   Site ID                             2479 non-null   int64
 3   POC                                 2479 non-null   int64
 4   Daily Max 1-hour SO2 Concentration  2472 non-null   object
 5   UNITS                               2479 non-null   object
 6   DAILY_AQI_VALUE                     2479 non-null   int64
 7   Site Name                           2479 non-null   object
 8   DAILY_OBS_COUNT                     2479 non-null   int64
 9   PERCENT_COMPLETE                    2479 non-null   float64
 10  AQS_PARAMETER_CODE                  2479 non-null   int64
 11  AQS_PARAMETER_DESC                  2479 non-null   object
 12  CBSA_CODE                           2479 non-null   int64
 13  CBSA_NAME                           2479 non-null   object
 14  STATE_CODE                          2479 non-null   int64
 15  STATE                               2479 non-null   object
 16  COUNTY_CODE                         2479 non-null   int64
 17  COUNTY                              2479 non-null   object
 18  SITE_LATITUDE                       2479 non-null   float64
 19  SITE_LONGITUDE                      2479 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(8), object(8)
memory usage: 387.5+ KB

In [15]:
#Statistical data Description
data.describe()

,Site ID,POC,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,CBSA_CODE,STATE_CODE,COUNTY_CODE,SITE_LATITUDE,SITE_LONGITUDE
count,2.479000e+03,2479.000000,2479.000000,2479.000000,2479.000000,2479.0,2479.0,2479.000000,2479.000000,2479.000000,2479.000000
mean,1.765117e+08,1.137152,2.718435,23.741428,98.953207,42401.0,16980.0,17.575635,75.423558,41.722326,-87.504951
std,5.326208e+06,0.344077,5.439945,0.750371,3.077331,0.0,0.0,0.494346,40.783683,0.172009,0.315504
min,1.703101e+08,1.000000,0.000000,18.000000,75.000000,42401.0,16980.0,17.000000,31.000000,41.606662,-87.990570
25%,1.703116e+08,1.000000,0.000000,24.000000,100.000000,42401.0,16980.0,17.000000,31.000000,41.634104,-87.799227
50%,1.808900e+08,1.000000,1.000000,24.000000,100.000000,42401.0,16980.0,18.000000,89.000000,41.639306,-87.493609
75%,1.812700e+08,1.000000,3.000000,24.000000,100.000000,42401.0,16980.0,18.000000,127.000000,41.751400,-87.150567
max,1.812700e+08,2.000000,85.000000,24.000000,100.000000,42401.0,16980.0,18.000000,127.000000,42.139996,-87.101452

In [16]:
#Describing Percentage for each column Total Missing Values in the Datasets
data.isnull().sum() * 100 / len(data)

Date                                  0.000000
Source                                0.000000
Site ID                               0.000000
POC                                   0.000000
Daily Max 1-hour SO2 Concentration    0.282372
UNITS                                 0.000000
DAILY_AQI_VALUE                       0.000000
Site Name                             0.000000
DAILY_OBS_COUNT                       0.000000
PERCENT_COMPLETE                      0.000000
AQS_PARAMETER_CODE                    0.000000
AQS_PARAMETER_DESC                    0.000000
CBSA_CODE                             0.000000
CBSA_NAME                             0.000000
STATE_CODE                            0.000000
STATE                                 0.000000
COUNTY_CODE                           0.000000
COUNTY                                0.000000
SITE_LATITUDE                         0.000000
SITE_LONGITUDE                        0.000000
dtype: float64

In [17]:
# Dataset shape with NaN Values
data.shape

(2479, 20)

In [18]:
# NaN Values Drop and Clean Dataset 
data = data.dropna()

In [19]:
# After removing NaN Values the Dateset shape
data.shape

(2472, 20)

In [20]:
#Extraction in the new column Year, Month, Day, Time from Date
data['Year'] = data.Date.dt.year.astype('int64')
data['Month'] = data.Date.dt.month.astype('int64')
data['Week'] = data.Date.dt.week.astype('int64')
data['Day'] = data.Date.dt.day.astype('int64')
# create a list of our conditions
conditions = [
    (data['DAILY_AQI_VALUE'] <= 50),
    (data['DAILY_AQI_VALUE'] > 50) & (data['DAILY_AQI_VALUE'] <= 100),
    (data['DAILY_AQI_VALUE'] > 100) & (data['DAILY_AQI_VALUE'] <= 150),
    (data['DAILY_AQI_VALUE'] > 151)
    ]

# create a list of the values we want to assign for each condition
values = ['1', '2', '3', '4']

# create a new column and use np.select to assign values to it using our lists as arguments
data['Level'] = np.select(conditions, values)

In [21]:
#Dataset
data

,Date,Source,Site ID,POC,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,...,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE,Year,Month,Week,Day,Level
0,2018-01-01,AQS,170310076,1,2.9,ppb,3,COM ED MAINTENANCE BLDG,24,100.0,...,Illinois,31,Cook,41.751400,-87.713488,2018,1,1,1,1
1,2018-01-02,AQS,170310076,1,2,ppb,3,COM ED MAINTENANCE BLDG,24,100.0,...,Illinois,31,Cook,41.751400,-87.713488,2018,1,1,2,1
2,2018-01-03,AQS,170310076,1,2.3,ppb,3,COM ED MAINTENANCE BLDG,24,100.0,...,Illinois,31,Cook,41.751400,-87.713488,2018,1,1,3,1
3,2018-01-04,AQS,170310076,1,2.2,ppb,3,COM ED MAINTENANCE BLDG,24,100.0,...,Illinois,31,Cook,41.751400,-87.713488,2018,1,1,4,1
4,2018-01-05,AQS,170310076,1,3.6,ppb,4,COM ED MAINTENANCE BLDG,24,100.0,...,Illinois,31,Cook,41.751400,-87.713488,2018,1,1,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474,2018-12-27,AQS,181270028,1,9.3,ppb,13,ArcelorMittal-Burns Harbor Site 1,21,88.0,...,Indiana,127,Porter,41.635404,-87.150567,2018,12,52,27,1
2475,2018-12-28,AQS,181270028,1,0.4,ppb,0,ArcelorMittal-Burns Harbor Site 1,24,100.0,...,Indiana,127,Porter,41.635404,-87.150567,2018,12,52,28,1
2476,2018-12-29,AQS,181270028,1,0.6,ppb,0,ArcelorMittal-Burns Harbor Site 1,24,100.0,...,Indiana,127,Porter,41.635404,-87.150567,2018,12,52,29,1
2477,2018-12-30,AQS,181270028,1,0.4,ppb,0,ArcelorMittal-Burns Harbor Site 1,24,100.0,...,Indiana,127,Porter,41.635404,-87.150567,2018,12,52,30,1
2478,2018-12-31,AQS,181270028,1,4.5,ppb,6,ArcelorMittal-Burns Harbor Site 1,24,100.0,...,Indiana,127,Porter,41.635404,-87.150567,2018,12,1,31,1

In [22]:
# Spliting dataset for training data and for testing data
from sklearn.model_selection import train_test_split
# Classifier Algorithm libraries loading

from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Features
f = data[['SITE_LATITUDE','SITE_LONGITUDE','COUNTY_CODE','Month','Week','Day']]
# Lables
l = data['Level']
# Spliting 30% data for test and 70% data fro Training
x_train, x_test, y_train, y_test = train_test_split(f, l, test_size=0.3,random_state=42)
# Evaluate Algorithms on default parameters
models = []
models.append(('(Multi-layer Perceptron)', MLPClassifier()))
models.append(('(K-nearest Neighbors)', KNeighborsClassifier()))
models.append(('(Naive Bayes)', GaussianNB()))
models.append(('(Logistic Regression)', LogisticRegression()))

for name, model in models:
    print("Model: ",name)
    # Execution time is calculating for each model accuracy
    start = time.time()
    # model fit for traning and prediction
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    # Accuracy Score
    print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
    stop = time.time()
    print("Execution Time: ",stop-start)
    print("\n")
    print('F1:', metrics.f1_score(y_test, y_pred,average='micro'))
    print('Precision:', metrics.precision_score(y_test, y_pred,average='micro'))
    print('Recall:', metrics.recall_score(y_test, y_pred,average='micro'))
    print("\n")
    print("\n#######################################\n")

Model:  (Multi-layer Perceptron)
Accuracy: 0.9986522911051213
Execution Time:  0.16594886779785156


F1: 0.9986522911051213
Precision: 0.9986522911051213
Recall: 0.9986522911051213



#######################################

Model:  (K-nearest Neighbors)
Accuracy: 0.9986522911051213
Execution Time:  0.07697391510009766


F1: 0.9986522911051213
Precision: 0.9986522911051213
Recall: 0.9986522911051213



#######################################

Model:  (Naive Bayes)
Accuracy: 0.9986522911051213
Execution Time:  0.010995626449584961


F1: 0.9986522911051213
Precision: 0.9986522911051213
Recall: 0.9986522911051213



#######################################

Model:  (Logistic Regression)
Accuracy: 0.9986522911051213
Execution Time:  0.04398608207702637


F1: 0.9986522911051213
Precision: 0.9986522911051213
Recall: 0.9986522911051213



#######################################